.body {
  background-color: #031135;
}
.CharacterHeader {
  background-color: lightslategray;
}
.CharacterHeader.Character-name {
  font-size: 40px;
}
.CharacterHeader.Character-info {
  font-size: 16px;
  vertical-align: bottom;
}
.main-container {
  padding: 30px 20px 0;
}
.card {
  height: 100%;
  border-radius: 0;
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  color: #fff;
  background-color: rgba(9, 85, 135, 0.2);
}
.card > .card-title {
  padding: 15px 20px;
  background-color: rgba(9, 85, 135, 0.1);
  margin-bottom: 0;
  text-transform: uppercase;
}
.card > .card-body {
  padding: 20px;
}
.account-overview-games .account-links {
  font-family: Open Sans Bold;
  font-size: 14px;
  font-weight: 700;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
