body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #183661; */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#183661+0,2989d8+42,207cca+60,183661+100 */
  background: #183661; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #012036 0%,
    #2989d8 42%,
    #207cca 60%,
    #012036 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #012036 0%,
    #2989d8 42%,
    #207cca 60%,
    #012036 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #012036 0%,
    #2989d8 42%,
    #207cca 60%,
    #012036 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#012036', endColorstr='#012036',GradientType=0 ); /* IE6-9 */
}

body.noScroll {
  /* ...or body.dialogShowing */
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.animate-enter {
  opacity: 0;
  z-index: 1;
}
.animate-enter-active {
  opacity: 1;
  transition: opacity 450ms ease-in;
}
.animate-exit {
  display: none;
}

.ui-container {
  background: #1c4b82;
}

.ui.celled.grid {
  background: #dae1e7;
}

.ui.menu .item {
  padding: 6px;
}
